<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Bombers Original Partenariats</title>
</head>
<body style="color: black">
  <h3>Bonjour Leslie ! </h3>
  <p style="padding-botton: 10px">Tu as recu une nouvelle demande de contact de la part de {{firstName}} {{lastName}}<br/>Voici son message : </p>
  <p><em>{{message}}</em><br/></p>
  <p style="padding-botton: 10px">Tu peux le recontacter via cet e-mail : {{email}}<br/></p>
  <div style="padding-bottom: 10px">
    <img style="width: 300px" src="cid:LEKLogo"/>
  </div>
  <div style="padding-bottom: 10px">
    <img style="width: 300px" src="cid:redstar"/>
  </div>
  <div style="padding-bottom: 10px">
    <img style="width: 300px" src="cid:bfcr"/>
  </div>
</body>
</html>