/* Override Element-Plus SCSS rules */
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
      (
        'primary': (
          'base': #597DFF,
        ),
        'success': (
          'base': #858ae3,
        ),
        'tertiary': (
          'base': #858ae3,
        ),
        'silver': (
          'base': #DCE1DE,
        ),
        'grey': (
          'base': #F7FCF9,
        )
      )
    )
);


@use "element-plus/theme-chalk/src/index.scss" as *;
@import "../../assets/reboot.scss";

.el-button {
  color: white !important;
}

.el-icon .el-drawer__close {
  color: black;
}